@model ASM.Models.Warehouse

@{
    ViewData["Title"] = "Chỉnh sửa Kho hàng";
}

<div class="container mt-4" style="max-width: 600px;">
    <h1>@ViewData["Title"]</h1><hr />
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Location" class="form-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </form>
</div>
